@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Be Vietnam Pro', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}